name: CI CLI
permissions:
    contents: read
on:
    pull_request:
        paths:
            - 'cli/**'
            - '.github/workflows/ci-cli.yml'

jobs:
    check-lockfile:
        name: Check lockfile is up to date
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: cli
        steps:
            - uses: actions/checkout@v6

            - name: Install rust
              uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
              with:
                  toolchain: 1.88.0

            - name: Check Cargo.lock is up to date
              run: |
                  cargo update --workspace --locked
                  git diff --exit-code Cargo.lock

    tests:
        name: Run tests
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: cli
        steps:
            - uses: actions/checkout@v6

            - name: Install rust
              uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
              with:
                  toolchain: 1.88.0

            - name: Run tests
              run: cargo test --all-features

    clippy:
        name: Clippy
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: cli
        steps:
            - uses: actions/checkout@v6

            - name: Install rust
              uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
              with:
                  toolchain: 1.88.0
                  components: clippy

            - name: Run clippy
              run: cargo clippy --all-targets --all-features -- -D warnings

    format:
        name: Format
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: cli
        steps:
            - uses: actions/checkout@v6

            - name: Install rust
              uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
              with:
                  toolchain: 1.88.0
                  components: rustfmt

            - name: Check formatting
              run: cargo fmt --all -- --check
